.DS_Store

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
package-lock.json

.wp-env/mu-plugins/
.wp-env/plugins/*
!.wp-env/plugins/beapi-blocks-theme-custom-post-types.php
vendor/

assets/conf-img/image-locations.json
assets/conf-img/image-sizes.json
dist/
src/scss/common/00-variables/_theme-json.scss
theme.json