.DS_Store

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules/
package-lock.json

assets/conf-img/image-locations.json
assets/conf-img/image-sizes.json
dist/