/**
 * Post template
 */
@use "sass:list";
@use "../common/00-variables/config" as *;
@use "../common/01-mixins/breakpoints" as *;
@use "../wp-pattern/hidden-card" as *;

.wp-block-post-template {
	@if (list.index($home-variations, 1) != null) {
		// ---
		// Home variation 1
		// ---
		&.grid-home-1 {
			gap: var(--wp--preset--spacing--xl);

			> li {
				&:first-child {
					grid-column: 1/-1;

					> * {
						@extend %wp-pattern-hidden-card-post-2;
					}
				}
			}
		}
	}

	@if (list.index($home-variations, 2) != null) {
		// ---
		// Home variation 2
		// ---
		&.grid-home-2 {
			gap: var(--wp--preset--spacing--md);
		}
	}

	@if ($has-sugar-calendar-enabled && list.index($archive-events-variations, 1)) {
		// ---
		// Archive events variation 1
		// ---
		&.grid-events-1 {
			gap: var(--wp--preset--spacing--xl);

			> li {
				&:first-child {
					grid-column: 1/-1;

					.wp-pattern-hidden-card-event {
						@extend %wp-pattern-hidden-card-event-2;
					}
				}
			}
		}
	}

	@if ($has-sugar-calendar-enabled && list.index($archive-events-variations, 2) != null) {
		// ---
		// Archive events variation 2
		// ---
		&.grid-events-2 {
			> li {
				.wp-pattern-hidden-card-event {
					@extend %wp-pattern-hidden-card-event-3;
				}

				&:first-child {
					.wp-pattern-hidden-card-event {
						@extend %wp-pattern-hidden-card-event-4;
					}
				}
			}
		}
	}

	@if ($has-press-releases-enabled && list.index($archive-press-releases-variations, 2) != null) {
		// ---
		// Archive press releases variation 2
		// ---
		&.grid-press-releases-2 {
			> li {
				&:not(:first-child) {
					.wp-pattern-hidden-card-press-release {
						@extend %wp-pattern-hidden-card-press-release;
					}
				}

				&:first-child {
					.wp-pattern-hidden-card-press-release {
						@extend %wp-pattern-hidden-card-press-release-2;
					}
				}

				@include breakpoints(md) {
					&:first-child {
						grid-row: span 3;
						grid-column: span 2;
					}

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						grid-column: 3;
					}

					&:nth-child(2) {
						grid-row: 1;
					}

					&:nth-child(3) {
						grid-row: 2;
					}

					&:nth-child(4) {
						grid-row: 3;
					}
				}
			}
		}
	}

	@if ($has-job-offers-enabled && list.index($archive-job-offers-variations, 1) != null) {
		// ---
		// Archive job offers variation 1
		// ---
		&.grid-job-offers-1 {
			> li {
				.wp-pattern-hidden-card-job-offer {
					@extend %wp-pattern-hidden-card-job-offer;
				}
			}
		}
	}
}
