/**
 * Hero single 1
 */

@use "sass:list";
@use "../00-variables/config" as *;
@use "../00-variables/theme-json" as *;
@use "../01-mixins/breakpoints" as *;
@use "../02-functions/context-selector" as *;
@use "../02-functions/fluid-size" as *;

.wp-pattern-hero-single {
	$base: ".wp-block-group";

	@if (list.index($hero-single-variations, 1) != null) {
		// ----
		// variation 1
		// ----
		&-1 {
			&#{$base} {
				margin-top: var(--wp--preset--spacing--xl);
			}

			.wp-block-post-featured-image {
				#{context-selector("img", "img, .components-placeholder")} {
					object-fit: cover;
					aspect-ratio: 760/428;
				}
			}

			@include breakpoints(4xs, max) {
				display: flex;
				flex-direction: column;

				> * {
					margin-block-start: 0;
				}

				.wp-block-post-featured-image {
					order: 1000;
					width: calc(100% + var(--wp--custom--layout--fluid-external-gutter) * 2);
					margin-left: calc(-1 * var(--wp--custom--layout--fluid-external-gutter));
				}

				.wp-pattern-share {
					justify-content: flex-end;
					margin: 0 0 var(--wp--preset--spacing--s);
				}
			}
		}
	}

	@if (list.index($hero-single-variations, 2) != null) {
		// ----
		// variation 2
		// ----
		&-2 {
			.wp-block-post-featured-image {
				#{context-selector("img", "img, .components-placeholder")} {
					object-fit: cover;
					aspect-ratio: 375/280;
				}

				+ .wp-block-group {
					&.has-background {
						position: relative;
						z-index: 1;
						margin-top: calc(#{fluid-size(100px, 110px)} * -1);
					}
				}
			}

			.wp-block-group {
				&.has-background {
					$vertical-padding: fluid-size($settings-spacing-s, $settings-spacing-xl);
					$horizontal-padding: fluid-size($settings-spacing-s, $settings-spacing-2-xl);

					max-width: min(100vw - var(--wp--custom--layout--fluid-external-gutter) * 2, var(--wp--custom--layout--content-size) + #{$horizontal-padding} * 2);
					padding: $vertical-padding $horizontal-padding;
				}
			}

			@include breakpoints(md) {
				.wp-block-post-featured-image {
					#{context-selector("img", "img, .components-placeholder")} {
						aspect-ratio: 1440/404;
					}
				}
			}
		}
	}

	@if (list.index($hero-single-variations, 3) != null) {
		// ----
		// variation 3
		// ----
		&-3 {
			.wp-block-post-featured-image {
				#{context-selector("img", "img, .components-placeholder")} {
					object-fit: cover;
					aspect-ratio: 1200/675;
				}
			}

			@include breakpoints(4xs, max) {
				.wp-block-post-featured-image {
					width: calc(100% + var(--wp--custom--layout--fluid-external-gutter) * 2);
					margin-left: calc(-1 * var(--wp--custom--layout--fluid-external-gutter));
				}
			}

			@include breakpoints(2xs) {
				.wp-pattern-share {
					justify-content: flex-end;
				}
			}
		}
	}
}
