/**
 * WP Pattern: More posts
 */

@use "../01-mixins/breakpoints" as *;

.wp-pattern-more-posts {
	--more-posts--cards-by-row: 1;

	.wp-block-post-template {
		display: grid;
		grid-template-columns: repeat(var(--more-posts--cards-by-row), 1fr);
		gap: var(--wp--preset--spacing--2-xl);
	}

	@include breakpoints(4xs) {
		--more-posts--cards-by-row: 2;
	}

	@include breakpoints(2xs) {
		.wp-block-buttons {
			justify-content: flex-end;
			margin-bottom: 5px;
		}
	}

	@include breakpoints(md) {
		--more-posts--cards-by-row: 4;
	}
}
