/**
 * WP Pattern: Hidden filters
 */

@use "../01-mixins/breakpoints" as *;

.wp-pattern-hidden-filters {
	$el: &;
	$base: ".wp-block-group";

	@include breakpoints(6xs, max) {
		.wpgb-facet {
			width: 100%;
		}
	}

	@include breakpoints(6xs) {
		.wp-block-group {
			flex-wrap: nowrap;
		}

		.wpgb-facet:has(.wpgb-sort-facet) {
			display: flex;
			gap: var(--wp--preset--spacing--s);
			align-items: center;
		}
	}
}
