/**
 * WP Pattern - Comments form
 */

@use "../01-mixins/button" as *;
@use "../01-mixins/heading" as *;

.wp-pattern-comments {
	$el: &;
	$base: ".wp-block-group";

	.wp-block-comment-edit-link,
	.wp-block-comment-reply-link,
	.wp-block-comments-pagination {
		a {
			@include button(link);
		}
	}

	.wp-block-comment-template ol {
		padding-left: 74px;
	}

	.wp-block-comment-content {
		margin: var(--wp--preset--custom--spacing--xs) auto;
	}

	.wp-block-post-comments-form {
		.comment-reply-title {
			@include heading(h4);
		}

		label {
			@include heading(h6);
		}

		textarea {
			border-color: var(--wp--preset--color--gray-50);
			border-radius: 4px;
		}
	}
}
