/**
 * WP Pattern: Hidden card
 */

@use "sass:list";
@use "../00-variables/config" as *;
@use "../01-mixins/breakpoints" as *;
@use "../01-mixins/heading" as *;
@use "../04-utilities/seo" as *;

.wp-pattern-hidden-card-search-1 {
	.wp-block-group-is-layout-flow {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--xs) !important;
	}

	.wp-block-post-date {
		margin: 0 !important;
	}

	h3 {
		padding: 0 !important;
		margin: 0 !important;
	}

	.wp-block-post-excerpt {
		margin: 0 !important;
	}

	.wp-block-separator {
		width: 100% !important;
		border-color: var(--wp--preset--color--gray-75) !important;
		border-bottom: 1px solid;
	}
}
