/**
 * WP Pattern: Hidden card
 */

@use "sass:list";
@use "../00-variables/easings" as *;
@use "../00-variables/config" as *;
@use "../00-variables/theme-json" as *;
@use "../01-mixins/breakpoints" as *;
@use "../01-mixins/heading" as *;
@use "../01-mixins/hover" as *;
@use "../04-utilities/seo" as *;

%wp-pattern-hidden-card-post-2 {
	@include breakpoints(4xs) {
		display: flex;
		gap: var(--wp--preset--spacing--md) var(--wp--custom--layout--fluid-block-horizontal-gap);
		width: 100%;

		> * {
			flex-basis: 50%;
			max-width: none;
		}

		.wp-block-post-featured-image {
			margin-bottom: 0 !important;
		}

		.wp-block-post-title {
			@include heading(h3);
		}
	}
}

.wp-pattern-hidden-card {
	$el: &;
	$base: ".wp-block-group";

	@extend %seo-container;

	.wp-block-post-featured-image {
		overflow: hidden;

		img {
			transition: transform 4s $ease-out-expo;
		}
	}

	.wp-block-group {
		display: flex;
		flex-direction: column;
		gap: var(--wp--preset--spacing--s);

		> * {
			margin: 0;
		}
	}

	.wp-block-post-title {
		a {
			@extend %seo-target;
		}
	}

	.wp-block-post-terms {
		@extend %seo-over-overlay;
	}

	@include hover {
		.wp-block-post-featured-image {
			img {
				transform: scale(1.05);
			}
		}
	}

	/*
	// Card post 1 should be included even if home variation 1 is disabled
	// because it's used on single post page in the more post section
	&-post-1 {

	}
	*/

	@if (list.index($home-variations, 1) != null) {
		// ---
		// Card for home variation 1
		// ---
		&-post-2 {
			@extend %wp-pattern-hidden-card-post-2;
		}
	}

	@if (list.index($home-variations, 2) != null) {
		// ---
		// Card for home variation 2
		// ---
		&-post-3 {
			.wp-block-group {
				flex-direction: column-reverse;
				gap: var(--wp--preset--spacing--xs);
				justify-content: flex-end;
				width: 536px;
				margin: 0;
			}

			@include breakpoints(6xs) {
				display: flex;
				gap: 24px;
				justify-content: space-between;

				.wp-block-post-featured-image {
					width: 200px;
					margin-bottom: 0 !important;
				}

				.wp-block-group {
					width: 536px;
				}
			}
		}
	}
}
