/**
 * WP Pattern: Archive columns
 */

@use "../common/01-mixins/breakpoints" as *;

.wp-pattern-archive-columns {
	$el: &;
	$base: ".wp-block-columns";

	position: relative;
	gap: var(--wp--preset--spacing--xl);

	@include breakpoints(2xs) {
		.wp-pattern-hidden-filters {
			position: sticky;
			top: var(--wp--preset--spacing--4-xl);
		}
	}
}
