/**
 * WP Pattern: More posts
 */

@use "../common/01-mixins/breakpoints" as *;

.wp-pattern-more-posts {
	.wp-block-post-template.is-layout-grid {
		gap: var(--wp--preset--spacing--2-xl) var(--wp--custom--layout--fluid-block-horizontal-gap);
	}

	@include breakpoints(2xs) {
		.wp-block-buttons {
			justify-content: flex-end;
			margin-bottom: 5px;
		}
	}
}
