@use "../01-mixins/button" as *;

.add-calendar {
	position: relative;

	&__toggle {
		@include button(plus);

		border: 1px solid;
	}

	&__list {
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 100;
		width: 100%;
		padding: 1rem 2rem;
		margin: 0;
		list-style: none;
		background-color: var(--wp--preset--color--white);
		border: 1px solid;

		li {
			margin-bottom: .5rem;
		}

		a {
			display: flex;
			gap: var(--wp--preset--spacing--2-xs);
			align-items: center;
		}
	}
}
