/**
 * Beapi Mega Menu
 */

@use "../00-variables/config" as *;
@use "../01-mixins/breakpoints" as *;
@use "../01-mixins/heading" as *;
@use "../01-mixins/style-only" as *;
@use "../01-mixins/text" as *;

.wp-block-beapi-mega-menu {
	--wp--preset--spacing--64: var(--wp--custom--spacings--2-xl); // 72px
	--wp--preset--spacing--48: var(--wp--custom--spacings--xl);   // 40px
	--wp--preset--spacing--24: var(--wp--custom--spacings--md);   // 24px
	--wp--preset--spacing--16: var(--wp--custom--spacings--s);    // 16px
	--wp--preset--spacing--8: var(--wp--custom--spacings--2-xs);  // 8px

	.has-m-font-size {
		@include heading(h4);
	}

	.wp-block-mega-menu-list-item__text {
		@include text(label);
	}

	ul + ul {
		margin-top: var(--wp--custom--spacings--md);
	}

	li + li {
		margin-top: var(--wp--custom--spacings--s);
	}
}

@include style-only {
	.mega-menu__wrapper {
		--mega-menu--width: 100%;
		--mega-menu--radius: 0;
	}

	.wp-block-beapi-mega-menu {
		.wp-block-columns,
		.wp-block-column,
		.wp-block-group {
			padding-right: 0 !important;
			padding-left: 0 !important;
		}
	}

	@include breakpoints($mobile-to-desktop-nav-breakpoint, max) {
		.mega-menu__wrapper {
			position: relative;
			box-shadow: none;

			.mega-menu__toggle[aria-expanded="true"] + & {
				top: 0;
			}
		}
	}

	@include breakpoints($mobile-to-desktop-nav-breakpoint) {
		.wp-block-beapi-mega-menu {
			max-width: var(--wp--style--global--wide-size);
			margin-right: auto;
			margin-left: auto;
		}
	}
}
