<!-- wp:template-part {"slug":"header"} /-->
	<!-- wp:group {"metadata":{"name":"404","patternName":"beapi-blocks-theme/404"}, "tagName":"main","style":{"spacing":{"padding":{"top":"110px","bottom":"80px","left":"var:preset|spacing|3-xl","right":"var:preset|spacing|3-xl"}}},"layout":{"type":"default"}} -->
	<main class="wp-block-group" style="padding-top:110px;padding-right:var(--wp--preset--spacing--3-xl);padding-bottom:80px;padding-left:var(--wp--preset--spacing--3-xl)">
		<!-- wp:pattern {"slug":"beapi-blocks-theme/hidden-404"} /-->
	</main>
	<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer"} /-->
