<!-- wp:template-part {"slug":"header","theme":"beapi-blocks-theme"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"},"blockGap":"var:preset|spacing|2-xl"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	<!-- wp:yoast-seo/breadcrumbs {"className":"alignwide"} /-->

	<!-- wp:query-title {"type":"archive","showPrefix":false,"align":"wide"} /-->
	
	<!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"wrap","verticalAlignment":"bottom"}} -->
	<div class="wp-block-group alignwide">
	<!-- wp:wp-grid-builder/facet {"grid":"wpgb-content-block/55a621d2d9f54209bae7570faecf256d","id":1} /-->
	
	<!-- wp:wp-grid-builder/facet {"grid":"wpgb-content-block/55a621d2d9f54209bae7570faecf256d","id":2} /-->
	
	<!-- wp:wp-grid-builder/facet {"grid":"wpgb-content-block/55a621d2d9f54209bae7570faecf256d","id":7} /-->
	
	<!-- wp:wp-grid-builder/facet {"grid":"wpgb-content-block/55a621d2d9f54209bae7570faecf256d","id":8} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:wp-grid-builder/facet {"align":"wide","grid":"wpgb-content-block/55a621d2d9f54209bae7570faecf256d","id":6} /-->
	
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|l","bottom":"var:preset|spacing|2-xl"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide" style="margin-top:var(--wp--preset--spacing--l);margin-bottom:var(--wp--preset--spacing--2-xl)">

	<!-- wp:pattern {"slug":"beapi-blocks-theme/hidden-archive-publications"} /-->
	
	<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide"><!-- wp:wp-grid-builder/facet {"align":"center","grid":"wpgb-content-block/55a621d2d9f54209bae7570faecf256d","id":4} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"beapi-blocks-theme"} /-->