<!-- wp:template-part {"lock":{"move":false,"remove":false},"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull">
	<!-- wp:post-content {"lock":{"move":false,"remove":false},"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"lock":{"move":false,"remove":false},"slug":"footer","area":"footer","tagName":"footer"} /-->
