<!-- wp:template-part {"slug":"header","theme":"beapi-blocks-theme","tagName":"header","className":"site-header is-layout-constrained"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|32","bottom":"var:preset|spacing|32"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--32);padding-bottom:var(--wp--preset--spacing--32)"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-title {"level":1} /--></div>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"beapi-blocks-theme","tagName":"footer","className":"site-footer is-layout-constrained"} /-->