<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull">
		<!-- wp:yoast-seo/breadcrumbs {"className":"alignwide"} /-->
		<!-- wp:pattern {"slug":"beapi-blocks-theme/hidden-hero-single-4"} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
		<!-- wp:pattern {"slug":"beapi-blocks-theme/comments"} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"beapi-blocks-theme/more-posts"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
