<!-- wp:template-part {"slug":"header","theme":"beapi-blocks-theme"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|3-xl"},"blockGap":"var:preset|spacing|xl"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--3-xl)">
	<!-- wp:yoast-seo/breadcrumbs {"className":"alignwide"} /-->
	<!-- wp:pattern {"slug":"beapi-blocks-theme/hidden-hero-single-5"} /-->
	<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	<!-- wp:pattern {"slug":"beapi-blocks-theme/job-offer-application"} /-->
	<!-- wp:pattern {"slug":"beapi-blocks-theme/more-job-offers"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"beapi-blocks-theme"} /-->
