/**
 * Paragraph
 */

@use "../00-variables/config" as *;
@use "../01-mixins/text" as *;

p {
	font: var(--wp--custom--default--font-weight) var(--wp--preset--font-size--default)/var(--wp--custom--default--line-height) var(--wp--preset--font-family--default);
}

.is-style-label {
	@include text(label);
}

@each $size in $paragraph-sizes {
	.is-style-#{$size} {
		@include text($size);
	}

	.has-#{$size}-font-size {
		font-size: var(--wp--preset--font-size--#{$size});
		line-height: var(--wp--custom--#{$size}--line-height);
	}
}
